.ui-reservation-slot-widget .ui-state-highlight a {
  background: red;
  color: white;
}

.ui-reservation-slot-widget .ui-datepicker .ui-state-highlight .ui-state-active {
  background: red;
  color: white;
}

.ui-reservation-slot-widget .ui-datepicker-multi .ui-datepicker-group {
  display: inline-block;
  float: none;
  margin: 0 10px;
  width: auto;
}

.ui-reservation-slot-widget .ui-datepicker-multi {
  position: relative;
  padding-top: 30px;
  width: auto !important;
}

.ui-reservation-slot-widget .ui-datepicker-multi .ui-datepicker-header {
  position: inherit;
}

.ui-reservation-slot-widget .ui-datepicker-multi .ui-datepicker-header .ui-datepicker-year,
.ui-reservation-slot-widget .ui-datepicker-multi .ui-datepicker-header .ui-datepicker-month {
  height: 1em;
  border: 0;
}

.ui-reservation-slot-widget .ui-datepicker-multi .ui-datepicker-prev,
.ui-reservation-slot-widget .ui-datepicker-multi .ui-datepicker-next {
  position: absolute;
  top: 5px;
  left: 0;
}

.ui-reservation-slot-widget .ui-datepicker-multi .ui-datepicker-next {
  left: auto;
  left: 20px;
}

.reservation-hidden {
  display: none !important;
}
