.reservation-hidden {
  display: none !important;
}

div.reservation-datepicker .ui-datepicker .ui-state-active,
div.reservation-datepicker  .ui-datepicker .ui-state-highlight.ui-state-active {
  border: 1px solid blue;
  display: block;
  background: #ccc;
  color: #000;
}
