/**
 * Main menu icons.
 */
.toolbar-icon-entity-reservation-slot-collection:before {
  background-image: url(../images/reservation-icon.svg);
}
.toolbar-icon-entity-reservation-slot-collection:active:before,
.toolbar-icon-entity-reservation-slot-collection.is-active:before {
  background-image: url(../images/reservation-icon.svg);
}
