{#
/**
 * @file reservation_slot.html.twig
 * Default theme implementation to present Reservation slot data.
 *
 * This template is used when viewing Reservation slot pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_reservation_slot()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('reservation_slot') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
