{% if dates %}
  {% for date in dates %}
    {% if date.slots %}
      <div class="reservation-date">
        {{ date.date }}
      </div>
    {% endif %}
    {% if date.slots %}
      <ul class="reservation-slots">
      {% for slot in date.slots %}
        <li class="reservation-slot">{{ slot }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
{% endif %}
