{#
/**
 * @file
 * Default theme implementation for the completion message.
 *
 * Available variables:
 * - order_entity: The order entity.
 * - payment_instructions: The payment instructions, if provided.
 *
 * @ingroup themeable
 */
#}
<div class="checkout-complete">
  {% if completed_message %}
    {{ completed_message }}
  {% else %}
    {{ 'Your reservation code is @code.'|t({'@code': reservation_entity.code.value}) }} <br>
    {{ 'You can view your reservation on your account page when logged in.'|t }} <br>
  {% endif %}

  {% if return_button %}
    {{ return_button }}
  {% endif %}

</div>
