{#
/**
 * @file reservation_unit.html.twig
 * Default theme implementation to present Reservation unit data.
 *
 * This template is used when viewing Reservation unit pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_reservation_unit()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('reservation_unit') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
